<div class="sidebar__menu">
	<div class="sidebar__title">
		<%= menu.title %>
	</div>
	<ul class="nav nav-menu">
		<% menu.items.forEach(function eachItem(entry) { %>
			<%
				if (!entry || entry.hide || entry.settings.hide) {
					return
				}

				settings = entry.settings;
				trail = Router.getTrail(settings.route, settings.parameters);
			%>

			<li class="js-he-link-wrapper" data-breadcrumb="<%= trail %>">
				<a class="js-he-link" href="<%
					if (settings.route) {
						print(Router.routeUrl(settings.route, settings.parameters));
					} else if (settings.href) {
						print(settings.href);
					} else {
						print('#');
					}
				%>" data-breadcrumb="<%= trail %>">
					<div class="nav-menu__text">
						<% if (settings.icon && settings.icon.fa) { %>
							<% if (settings.icon.fa.startsWith('fa') && !settings.icon.fa.startsWith('fa-')) { %>
								<i class="<%= settings.icon.fa %>"></i>
							<% } else { %>
								<i class="fas fa-<%= settings.icon.fa %>"></i>
							<% } %>
						<% } %>
						<span><%= settings.title %></span>
					</div>
				</a>
			</li>
		<% }) %>
	</ul>
</div>